# Preprocessing TVL chains

## Libraries

In [19]:
import pandas as pd
import numpy as np
import json

In [20]:
# Function to load JSON
def loadJSON(filepath):
    with open(filepath) as file:
        return json.load(file)

In [21]:
# Loading the JSON and converting it in a dataframe
jsonFile = loadJSON('../../data/json/all-chains.json')

df = pd.DataFrame(jsonFile)
print(df.shape)
df.head()

(305, 6)

      gecko_id           tvl tokenSymbol  cmcId     name     chainId
0      harmony  1.895183e+06         ONE   3945  Harmony  1666600000
1       mantle  4.613355e+08         MNT  27075   Mantle        5000
2      x-layer  9.910153e+06        None   None  X Layer        None
3      fraxtal  3.288453e+07        FXTL   None  Fraxtal         252
4  aurora-near  1.671190e+07      AURORA  14803   Aurora  1313161554

## Removing non usable data

In [22]:
# Checking basic info (specially nulls)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gecko_id     237 non-null    object
 1   tvl          305 non-null    float64
 2   tokenSymbol  248 non-null    object
 3   cmcId        210 non-null    object
 4   name         305 non-null    object
 5   chainId      139 non-null    object
dtypes: float64(1), object(5)
memory usage: 14.4+ KB

In [23]:
# Dropping null values and checking again
df = df.dropna(subset=['tokenSymbol'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248 entries, 0 to 304
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gecko_id     236 non-null    object
 1   tvl          248 non-null    float64
 2   tokenSymbol  248 non-null    object
 3   cmcId        210 non-null    object
 4   name         248 non-null    object
 5   chainId      103 non-null    object
dtypes: float64(1), object(5)
memory usage: 13.6+ KB

## Something to point out...
Once we get to the step of getting the information of every token from CoinMarketCap API, we are going to have some issues with "ETHF", "FXTL" and "-" (tokenSymbol property). In order to avoid those API errors, we are removing them

In [24]:
# Initializing the list with those values
values_to_remove = ['ETHF', 'FXTL', '-']

In [25]:
# Filter out rows where tokenSymbol is in values_to_remove
filtered_df = df[~df['tokenSymbol'].isin(values_to_remove)]

In [26]:
filtered_df.to_json('../../data/json/tvl-chains-symbol.json', orient='records', indent=4)