# Filling missing information from the tokens

## Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import json
import requests

## Loading all the chains and its token

In [2]:
# Function to load JSON
def loadJSON(filepath):
    with open(filepath) as file:
        return json.load(file)

In [3]:
df = pd.DataFrame(loadJSON('../../data/json/main-defi-tokens.json'))

print(df.shape)
df.head()

(225, 6)

      gecko_id           tvl tokenSymbol  cmcId      name     chainId
0      harmony  1.895183e+06         ONE   3945   Harmony  1666600000
1       mantle  4.613355e+08         MNT  27075    Mantle        5000
2  aurora-near  1.671190e+07      AURORA  14803    Aurora  1313161554
3     moonbeam  2.557276e+07        GLMR   6836  Moonbeam        1284
4         kava  1.488895e+08        KAVA   4846      Kava        None

## Getting the rows without gecko_id

In [4]:
null_gecko_df = df[df['gecko_id'].isnull()]
null_gecko_df

    gecko_id           tvl tokenSymbol  cmcId        name chainId
43      None  1.346509e+08         RON  14101       Ronin    2020
68      None  5.951530e+05        QGOV  29443  Q Protocol   35441
170     None  2.425783e+05       ZENIQ  23027       Zeniq    None
193     None  3.156900e+06        BEAM  28298        Beam    4337

Since it's only 4 rows missing, we are completing the null values manually through the CoinGecko web platform

### RON - Ronin

In [5]:
df.at[43, 'gecko_id'] = 'ronin'

### QGOV - Q Protocol

In [6]:
df.at[68, 'gecko_id'] = 'q-protocol'

### ZENIQ - Zeniq

In [7]:
df.at[170, 'gecko_id'] = 'zeniq'

### BEAM - Beam

In [8]:
df.at[193, 'gecko_id'] = 'beam-2'

In [9]:
# Checking basic info to see how the null situation is at the moment
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gecko_id     225 non-null    object
 1   tvl          225 non-null    float64
 2   tokenSymbol  225 non-null    object
 3   cmcId        225 non-null    object
 4   name         225 non-null    object
 5   chainId      93 non-null     object
dtypes: float64(1), object(5)
memory usage: 10.7+ KB

In [10]:
df.to_json('../../data/json/main-tokens-clean.json', orient='records', indent=4)